{{#each checkedDays}}
    <ul>
        <li class="date">{{dateUTC day}}</li>
        <li>Open: {{currency open}}</li>
        <li>Close: {{currency close}}</li>
        <li>High: {{currency high}}</li>
        <li>Low: {{currency low}}</li>
    </ul>
{{/each}}